.measurements {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.measurements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-width: 0 0 3px 0;
    border-image-source: linear-gradient(to right, white, black, white);
    margin-bottom: 20px;
    margin-top: -20px;
}

.measurements-left {
    flex: 1;
    min-width: 200px;
    align-self: flex-start;
}

.measurements-left h1 {
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.measurements-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.measurements-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 769px) {
    .measurements {
        flex-direction: row;
    }

    .measurements-container {
        flex-direction: row;
    }

    .measurements-left {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .measurements-right {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .measurements-right img {
        max-width: 48%;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .measurements-right {
    flex-direction: column;
    align-items: center;
    }

    .measurements-right img {
    max-width: 100%;
    margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .measurements-container {
        flex-direction: column;
        align-items: center;
    }

    .measurements-left {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .measurements-right {
        justify-content: center;
    }

    .measurements-right img {
        max-width: 100%;
    }
}
@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    display: inline-block;
    animation: 35s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 100px;
  }
  .gallery {
    text-align: center;
    padding: 20px;
            }
            .gallery h1 {
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.videos {
    text-align: center;
    margin: 50px 0;
    padding: 0 20px;
}

.videos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.video-item {
    width: 30%;
    height: auto;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.thoughts {
    text-align: center;
    padding: 50px 30px;
    width: 80%;
    margin: 0 auto;
    font-family: 'League Script', cursive;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
font-family: 'Playwrite GB S', sans-serif;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
